.Rproj.user
.Rhistory
.RData
.Ruserdata
data-raw/WDIcountry-series.csv
data-raw/WDICountry.csv
data-raw/WDICSV.csv
data-raw/WDIfootnote.csv
data-raw/WDIseries-time.csv
data-raw/WDISeries.csv
inst/doc
/doc/
/docs/_site/
/docs/.quarto/
/Meta/
.DS_Store
.positai
